<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="phpunit.php"
>
    <testsuites>
        <testsuite name="HUBzero Framework Test Suite">
            <directory suffix="Test.php">./src/Database/Tests</directory>
            <directory suffix="Test.php">./src/Console/Tests</directory>
            <directory suffix="Test.php">./src/Notification/Tests</directory>
            <directory suffix="Test.php">./src/Pathway/Tests</directory>
            <directory suffix="Test.php">./src/Spam/Tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
