<?php
/**
 * @package    framework
 * @copyright  Copyright 2005-2019 HUBzero Foundation, LLC.
 * @license    http://opensource.org/licenses/MIT MIT
 */

namespace %=namespace=%;

use Hubzero\Test\Database;

/**
 * Basic example test
 */
class ExampleDatabaseTest extends Database
{
	/**
	 * Sample test
	 *
	 * @return  void
	 **/
	public function testExample()
	{
	}
}